<h1 mat-dialog-title>Entrez votre question à ajouter</h1>

<div mat-dialog-content>
	<div class="form-container">
		<mat-form-field>
			<input matInput placeholder="Matière" [(ngModel)]="data.matiere">
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Question" [(ngModel)]="data.question">
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Réponse" [(ngModel)]="data.reponse">
		</mat-form-field>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ajouter</button>
	<button mat-button (click)="onNoClick()">Retour</button>
</div>

<!--<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Déposez une image ici.
          <button type="button" (click)="openFileSelector()">Parcourir</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
    	<img [src]="src" />
    </div>
</div>-->