<div class="container-fluid">
    <div class="row pb-5">
        <div class="col">
            <span>Ajouter une classe</span>
            <button mat-flat-button (click)="addGroup()">
                <mat-icon mat-list-icon>group_add</mat-icon>
            </button>  
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngFor="let group of groups">
            <div *ngIf="group">
                <button mat-flat-button [routerLink]="['/questions', group]">
                   <mat-icon mat-list-icon class="pr-5">group</mat-icon> 
                   {{group}}
                </button>  
            </div>
        </div>
    </div>
</div>
